* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 100vh;
}
.top {
  flex: 1;
  order: 1;
  background-color: bisque;
}
.heading {
  flex: 2;
  order: 3;
  background-color: blueviolet;
}
.main {
  flex: 4;
  order: 2;
  background-color: brown;
}
.list ul {
  padding: 0;
  margin: 0;
}

.item {
  flex: 1;
  font-size: 15px;
  border: rgb(3, 20, 20) solid 1px;
  border-radius: 15%;
  /* background-color: rgb(214, 226, 195); */
  margin: 15px;
}

.item::before {
  transition: 3s ease-in;
}

.footer {
  flex: 1;
  order: 4;
}
